@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  color: white;
  overflow-x: hidden;

  background:
    radial-gradient(
      circle at top,
      rgba(124,58,237,0.25),
      transparent 40%
    ),
    radial-gradient(
      circle at bottom,
      rgba(168,85,247,0.15),
      transparent 35%
    ),
    #050816;
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #050816;
}

::-webkit-scrollbar-thumb {
  background: #7c3aed;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #9333ea;
}

@keyframes loading {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}

html, body {
  scroll-behavior: auto;
}